* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  /* width: 1440px; */
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  margin: 80px auto;
  width: 450px;
  height: 700px;
  border-radius: 20px;
  text-align: center;
}

header img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-bottom: 50px;
}

article h1 {
  font-family: "Red Hat Display";
  font-weight: 900;
}

article p {
  font-size: 16px;
  padding: 20px 50px;
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
}

section {
  display: table;
  width: 350px;
  height: 45px;
  padding: 25px 0 25px 25px;
  background-color: hsla(224, 23%, 55%, 0.08);
  border-radius: 5px;
  line-height: 25px;
}

section > svg {
  float: left;
}

section > div {
  float: left;
  margin-left: 30px;
}

section > div > p {
  font-weight: 900;
}

section > div > span {
  color: hsl(224, 23%, 55%);
}

section > p {
  font-weight: 900;
  display: table-cell;
  vertical-align: middle;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none;
}

button {
  margin-top: 35px;
  width: 355px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  font-weight: 900;
  box-shadow: 0 20px 30px hsla(245, 75%, 52%, 0.2);
}

button:hover {
  opacity: 0.5;
}

.footer {
  margin-top: 25px;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
}

.footer:hover {
  cursor: pointer;
}
